:root{
			--primary:#ca3c25;
			--secondary:#F4F2EE;
			--dark:#393E41;
			--active:#258EA6;
			--light:#E2C2FF;
}
*::selection {
  background: var(--primary);
  color:white;
}
.ql-toolbar{
	grid-row:1;background: rgb(216 ,222 ,230);;
	display:flex !important;gap:1rem !important;
}
.ql-formats{background:'#27272723' !important;display:flex !important;gap: 1rem !important; }
.ql-toolbar button{
	height:50% !important;fill:white;
}